/* 
1. Posicionamiento
2. Modelo de caja (Box Model)
3. Tipografía
4. Visualización
5. Otros
*/

:root{
    /* Base Color */
    --base-white: #ffffff;
    --base-black: #000000;
    /* Gris */
    --gray-01: #FAFBFC;
    --gray-02: #F3F4F6;
    --gray-03: #E5E7EB;
    --gray-04: #9CA3AF;
    --gray-05: #6B7280;
    --gray-06: #111827;
    /*Primary Color  */
    --primary-01: #FDEFF3;
    --primary-02: #EEC3CF;
    --primary-03: #D06B87;
    --primary-04: #B2133F;
    --primary-05: #6B0B26;
    --primary-06: #470819;
    /* Secondary color */
    --secondary-01: #F7FDFF;
    --secondary-02: #C6E9F5;
    --secondary-03: #63C0E2;
    --secondary-04: #0097CE;
    --secondary-05: #005B7C;
    --secondary-06: #003C52;
    /* Complementary */
    --complementary-01: #FFB076;
    --complementary-success: #12B76A;
    --complementary-error: #F04438;
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
    font-family: 'Open Sans', sans-serif;
    background-color: var(--gray-01);
}
header{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  min-width: 320px;
  height: 100vh;
  text-align: left;
  background-image: url('https://res.cloudinary.com/dbj1jqsmk/image/upload/v1677672845/Inicio_-_Hero_bzbhg4.jpg');
  background-position: relative;
  background-size: cover;
  background-repeat: no-repeat;
}
header nav{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 72px;
  padding: 16px 27px;
}
.nav--logo{
  height: 40px;
}
.header--detaiils-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 24px;
  padding-left: 27px;
  padding-right: 27px;
}
.header--detaiils-container h1{
  color: var(--base-white);
  font-family: Yantramanav;
  font-size: 40px;
  line-height: 44px;
  font-weight: 700;
  margin-bottom: 8px;
}
.header--detaiils-container p{
  color: var(--base-white);
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  margin-bottom: 16px;
}
.header--button{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 280px;
  height: 60px;
  padding: 16px;
  background-color: var(--secondary-04);
  text-decoration: none;
  color: var(--base-white);
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  border-radius: 16px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.12);
  box-shadow: 0 12px 32px rgba(0, 0, 0, 0.16);
}

.main-characteristic-section{
  position: relative;
  width: 100%;
  min-width: 320px;
  height: auto;
  padding: 32px 27px;
}
.characteristic-cards--container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.characteristic-detail--card{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 400px;
  height: auto;
  margin-bottom: 24px;
}
.characteristic-detail--card .honor{
  display: block;
  width: 72px;
  height: 72px;
  margin-bottom: 4px;
  background-image: url('./assets/Iconos/honor.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.characteristic-detail--card .presentation{
  display: block;
  width: 72px;
  height: 72px;
  margin-bottom: 4px;
  background-image: url('./assets/Iconos/presentation.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.characteristic-detail--card .book{
  display: block;
  width: 72px;
  height: 72px;
  margin-bottom: 4px;
  background-image: url('./assets/Iconos/book.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.characteristic--card-title{
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  color: var(--secondary-04);
  margin-bottom: 8px;  
}

.characteristic--card-body{
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
}


  